.profile {
  padding: 35px;
  border-radius: 35px;
  background-color: rgb(238, 233, 233);
}

.description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(44, 43, 43);

  font-size: 30px;
  color: rgb(182, 123, 123);
}

.avatar {
  max-width: 250px;
  object-fit: cover;
  object-position: 0 10px;

  background-color: rgb(204, 143, 143);
  border-radius: 50%;
}

.name {
  font-size: 40px;
  font-weight: 700;

  color: rgb(00, 00, 00);
}


.stats {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;

  font-size: 20px;
}

.stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex-basis: calc((100% - 20px)/3);
}

.quantity {
  font-weight: 700;
}
